<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row">
    <mat-toolbar color = "primary" class="mat-display-1 no-margin-bottom" fxFlex="400px" fxLayout="row" fxLayoutAlign="center center">
      PicAll
    </mat-toolbar>
  </div>
  <div fxLayout="row">
    <mat-card fxFlex="400px" color="accent">
      <nav mat-tab-nav-bar animationDuration="0" mat-align-tabs="center">
        <a mat-tab-link *ngFor="let link of authLinks"
          [routerLink]="link.route"
          (click)="activeLink = link"
          [active]="activeLink.route == link.route"> {{link.label}}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
