<mat-toolbar color = "primary" fxLayout="row" fxLayoutAlign="space-between center" class="app-header-height">

  <div>
    <mat-spinner color="accent" diameter = "50" *ngIf="loading"></mat-spinner>
  </div>

  <div>
    <span class="mat-display-3 no-margin-bottom">PicAll</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <app-photo-uploader></app-photo-uploader>

    <button mat-fab [matMenuTriggerFor]="menu">
      <mat-icon>face</mat-icon>
    </button>
  </div>

  </mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)= "logout()">
    <span>Logout</span>
  </button>
</mat-menu>
