<mat-card>
  <form [formGroup]="form" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <mat-form-field>
      <input matInput type="email" [formControlName]="'email'" placeholder="email ID">
      <mat-error *ngIf="form.controls.email.invalid">{{emailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [formControlName]="'password'" placeholder="Password">
      <mat-error *ngIf="form.controls.password.invalid">{{passwordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled] = "!form.valid">Login</button>
  </form>
</mat-card>
