<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row">
    <mat-toolbar color = "primary" class="mat-display-1 tg-no-margin" fxFlex="400px">
      PicAll
    </mat-toolbar>
  </div>
  <div fxLayout="row">
    <mat-card fxFlex="400px" color="accent">
      <mat-tab-group animationDuration="0" mat-align-tabs="center">
        <mat-tab label="Login">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Sign up">
          <app-signup></app-signup>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
