<mat-expansion-panel [expanded] = "selectedPhotos.length > 0" color="primary">
  <span>{{selectedPhotos.length}} Photos selected</span>
  <button mat-fab (click) = "delete()">
    <mat-icon>delete outline icon</mat-icon>
  </button>
</mat-expansion-panel>

<div *ngIf="photoDisplayer">
  <section>
    <div fxLayout="row wrap" fxLayoutGap="4px grid">
      <div fxFlex="400px" fxFlex.xs="100%" *ngFor="let photo of photoDisplayer.photos">
        <mat-card class="mat-elevation-z1 photo-card">
          <app-photo [photo]="photo"></app-photo>
          <mat-checkbox (change)="($event.checked) ? selectPhoto(photo.id) : deselectPhoto(photo.id)"></mat-checkbox>
        </mat-card>
      </div>
    </div>
  </section>
</div>
