<div *ngIf="photoDisplayer.photos.length > 0">

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutGap="4px grid" fxFlexFill>
        <div fxFlex.xl="400px"
            fxFlex.lt-xl="300px"
            fxFlex.lt-lg="300px"
            fxFlex.lt-md="250px"
            fxFlex.lt-sm="100%"
            *ngFor="let photo of photoDisplayer.photos">
          <mat-card class="mat-elevation-z1 photo-card">
            <app-photo [photo]="photo"></app-photo>
          </mat-card>
        </div>
    </div>
  </div>

  <div class="fixed-bottom-float fill-width">
    <app-page-tracker></app-page-tracker>
  </div>

  <div class="fixed-bottom-float">
    <app-photo-control></app-photo-control>
  </div>

</div>

