.thumb-check {
  height: 30px;
}
.photo-thumb-frame {
  height: calc(100% - 42px);
}
.photo {
  padding: 0px;
  cursor: pointer;
  height: 100%;
}
.photo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.photo-loader {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 30px;height: 30px;}
