<mat-card>
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="signUp(form, formDirective)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <mat-form-field>
      <input matInput type="email" [formControlName]="'email'" placeholder="email ID">
      <mat-error>{{emailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [formControlName]="'password'" placeholder="Password">
      <mat-error>{{passwordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [formControlName]="'rePassword'" placeholder="Re enter password">
      <mat-error> {{passwordErrorMessage()}} </mat-error>
    </mat-form-field>
    <mat-error *ngIf="form.hasError('mismatch')"> {{rePasswordErrorMessage()}} </mat-error>
    <button mat-raised-button color="primary" [disabled] = "!form.valid">Sign up</button>
  </form>
</mat-card>
