.right-float-spacer {
  flex: 1 1 auto;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.fill-width {
  width: 100%;
}
.fixed-bottom-float {
  position: fixed;
  bottom: 8px;
}
.fixed-top-float {
  position: fixed;
  top: 10px;
  left: 6px;
}
