<div fxLayout = "row" fxLayoutAlign="center center">
  <mat-paginator class="photo-paginator mat-elevation-z2 mat-toolbar mat-primary" [length]="photoDisplayer.total"
                                                          [pageSize]="photoDisplayer.count"
                                                          (page)="pageEvent = getPhotos($event)"
                                                          aria-label="Select page"
                                                          [disabled] = "disablePageNav">
  </mat-paginator>
</div>
